<!DOCTYPE html>
<html lang="en">
<head>
    <meta pcset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PathFinder 2nd Edition - Character Sheet</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" sizes="192x192" href="icon.png">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <nav>
            <button @click="tab=1" :class="{active:tab == 1}">🎭</button>
            <button @click="tab=2" :class="{active:tab == 2}">🛡️</button>
            <button @click="tab=3" :class="{active:tab == 3}">⚔️</button>
            <button @click="tab=4" :class="{active:tab == 4}">❔</button>
        </nav>
        <div v-show="tab==1">
            <div class="flex">
                <div>
                    <div @click="modalName=true">
                        <h2 style="font-size: 18px">{{pc.name}}</h2>
                        <table class="simple">
                            <tr><td>Level {{pc.level}}</td><td>{{pc.xp}} XP</td></tr>
                            <tr><td>{{pc.class}}</td><td>{{pc.background}}</td></tr>
                            <tr><td colspan="2">{{pc.heritage}} {{pc.ancestry}}</td></tr>
                            <tr><td>{{pc.deity}}</td><td>{{pc.size}}</td></tr>
                            <tr><td colspan="2">{{pc.alignment}}</td></tr>
                            <tr><td colspan="2">{{pc.languages}}</td></tr>
                        </table>
                    </div>
                    <div @click="modalAbility=true">
                        <h2>Ability Scores</h2>
                        <table class="stats">
                            <tr><td>{{pc.str}}</td><td>STR</td><td>{{str}}</td></tr>
                            <tr><td>{{pc.dex}}</td><td>DEX</td><td>{{dex}}</td></tr>
                            <tr><td>{{pc.con}}</td><td>CON</td><td>{{con}}</td></tr>
                            <tr><td>{{pc.int}}</td><td>INT</td><td>{{int}}</td></tr>
                            <tr><td>{{pc.wis}}</td><td>WIS</td><td>{{wis}}</td></tr>
                            <tr><td>{{pc.cha}}</td><td>CHA</td><td>{{cha}}</td></tr>
                        </table>   
                    </div>                 

                    <div @click="modalSenses=true">
                        <h2>Senses</h2>
                        <table>
                            <tr><td>Perception</td><td>{{pc.perception}}</td></tr>
                            <tr><td>Speed</td><td>{{pc.spd}}</td></tr>
                            <tr v-if="pc.spdBurrow"><td>Burrow Speed</td><td>{{pc.spdBurrow}}</td></tr>
                            <tr v-if="pc.spdClimb"><td>Climb Speed</td><td>{{pc.spdClimb}}</td></tr>
                            <tr v-if="pc.spdFly"><td>Fly Speed</td><td>{{pc.spdFly}}</td></tr>
                            <tr v-if="pc.spdSwim"><td>Swim Speed</td><td>{{pc.spdSwim}}</td></tr>
                            <tr><td>Vision</td><td>{{pc.vision}}</td></tr>
                        </table>
                    </div>
                </div>
                <div>
                    <div @click="modalHero=true">
                        <h2>Hero Points</h2>
                        <div class="single">{{pc.heroPts}}<span>/ 3</span></div>
                    </div>
                    <div @click="modalSkill=true">
                        <h2>Skills</h2>
                        <table>
                            <tr><td>Acrobatics</td><td>{{acrobatics}}</td></tr>
                            <tr><td>Arcana</td><td>{{arcana}}</td></tr>
                            <tr><td>Athletics</td><td>{{athletics}}</td></tr>
                            <tr><td>Crafting</td><td>{{crafting}}</td></tr>
                            <tr><td>Deception</td><td>{{deception}}</td></tr>
                            <tr><td>Diplomacy</td><td>{{diplomacy}}</td></tr>
                            <tr><td>Intimidation</td><td>{{intimidation}}</td></tr>
                            <tr v-if="pc.lore1Name"><td>Lore ({{pc.lore1Name}})</td><td>{{lore1}}</td></tr>
                            <tr v-if="pc.lore2Name"><td>Lore ({{pc.lore2Name}})</td><td>{{lore2}}</td></tr>
                            <tr><td>Medicine</td><td>{{medicine}}</td></tr>
                            <tr><td>Nature</td><td>{{nature}}</td></tr>
                            <tr><td>Occultism</td><td>{{occultism}}</td></tr>
                            <tr><td>Performance</td><td>{{performance}}</td></tr>
                            <tr><td>Religion</td><td>{{religion}}</td></tr>
                            <tr><td>Society</td><td>{{society}}</td></tr>
                            <tr><td>Stealth</td><td>{{stealth}}</td></tr>
                            <tr><td>Survival</td><td>{{survival}}</td></tr>
                            <tr><td>Thievery</td><td>{{thievery}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>

        </div><!-- tab1 -->

        <div v-show="tab==2">
            <div class="flex">
                <div @click="modalArmor=true">
                    <h2>Armor Class</h2>
                    <div class="single">{{ac}}</div>
                </div>
                <div>
                    <h2>Hit Points</h2>
                    <div class="single" @click="modalHealth=true">{{pc.hp}}<span>/ {{pc.hpMax}}</span></div>
                </div>
            </div>

            <div class="flex">
                <div>
                    <h2>Saving Throws</h2>
                    <table>
                        <tr><td>Fortitude</td><td>{{pc.fort}}</td></tr>
                        <tr><td>Reflex</td><td>{{pc.reflex}}</td></tr>
                        <tr><td>Will</td><td>{{pc.will}}</td></tr>
                    </table>
                </div>
                <div>                        
                    <h2>Shield</h2>
                    <div class="single">{{pc.cdc}}</div>
                </div>
            </div>
        </div><!-- tab2 -->

        <div v-show="tab==3">
            <div class="flex">
                <div>
                    <h2>Misc</h2>
                    <table>
                            <tr><td>Hero Points</td><td>{{pc.hero}}</td></tr>
                        <tr><td>Perception</td><td>{{pc.perception}}</td></tr>
                        <tr><td>Speed</td><td>{{pc.spd}}</td></tr>
                    </table>
                </div>
                <div>
                    <h2>Hit Points</h2>
                    <div class="single" @click="modalHealth=true">{{pc.hp}}<span>/ {{pc.hpMax}}</span></div>
                </div>
            </div>       
            <div class="flex">
                <div>
                    <h2>Weapons</h2>
                    <table>
                        <tr><td>Bastard Sword</td><td>+9</td><td>1d12+4</td></tr>
                    </table> 
                </div>
            </div>    
        </div>
        <div v-show="tab==4"></div>

        <div class="fader" v-if="modalAbility" @click="modalAbility=false">
            <div class="modal" @click.stop>
                <label>Ability Scores</label>
                <table>
                    <tr><td>Strength:</td><td><input type="number" v-model="pc.str"></td></tr>
                    <tr><td>Dexterity:</td><td><input type="number" v-model="pc.dex"></td></tr>
                    <tr><td>Constitution:</td><td><input type="number" v-model="pc.con"></td></tr>
                    <tr><td>Intelligence:</td><td><input type="number" v-model="pc.int"></td></tr>
                    <tr><td>Wisdom:</td><td><input type="number" v-model="pc.wis"></td></tr>
                    <tr><td>Charisma:</td><td><input type="number" v-model="pc.cha"></td></tr>
                </table>
                
                <button @click="modalAbility=false">Close</button>
            </div>
        </div>
        <div class="fader" v-if="modalArmor" @click="modalArmor=false">
            <div class="modal" @click.stop>
                <label>Armor Class</label>
                <table>
                    <tr><td>Unarmored:</td><td><select v-model="pc.unarmored"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Light Armor:</td><td><select v-model="pc.light"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Medium Armor:</td><td><select v-model="pc.medium"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Heavy Armor:</td><td><select v-model="pc.heavy"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                </table>
                
                <button @click="modalArmor=false">Close</button>
            </div>
        </div>
        <div class="fader" v-if="modalHealth" @click="modalHealth=false">
            <div class="modal" @click.stop>
                <label>Enter Amount</label>
                <input type="number"  v-model.number="num">
                <button @click="updateHealth(true)">Damage</button>
                <button @click="updateHealth(false)">Heal</button>
            </div>
        </div>
        <div class="fader" v-if="modalHero" @click="modalHero=false">
            <div class="modal" @click.stop>
                <label>Hero Points: {{pc.heroPts}}</label>
                <button @click="useHero(1)">Gain +1</button>
                <button @click="useHero(-1)">Reroll (-1)</button>
                <button @click="pc.heroPts=1;modalHero=false">New Session (=1)</button>
                <button @click="pc.heroPts=0;modalHero=false">Cheat Death (-All)</button>
            </div>
        </div>
        <div class="fader" v-if="modalName" @click="modalName=false">
            <div class="modal" @click.stop>
                <label>Character Overview</label>
                <table>
                    <tr><td>Name:</td><td><input v-model="pc.name"></td></tr>
                    <tr><td>Ancestry:</td><td><input v-model="pc.ancestry"></td></tr>
                    <tr><td>Background:</td><td><input v-model="pc.background"></td></tr>
                    <tr><td>Class:</td><td><input v-model="pc.class"></td></tr>
                    <tr><td>Heritage:</td><td><input v-model="pc.heritage"></td></tr>
                    <tr><td>Size:</td><td><select v-model="pc.size"><option>Tiny</option><option>Small</option><option>Medium</option><option>Large</option></select></td></tr>
                    <tr><td>Alignment:</td><td><select v-model="pc.alignment"><option>Lawful Good</option><option>Neutral Good</option><option>Chaotic Good</option><option>Lawful Neutral</option><option>True Neutral</option><option>Chaotic Neutral</option><option>Lawful Evil</option><option>Neutral Evil</option><option>Chaotic Evil</option></select></td></tr>
                    <tr><td>Deity:</td><td><input v-model="pc.deity"></td></tr>
                    <tr><td>Languages:</td><td><input v-model="pc.languages"></td></tr>
                    <tr><td>Level:</td><td><input v-model="pc.level"></td></tr>
                    <tr><td>XP:</td><td><input v-model="pc.xp"></td></tr>
                </table>
                
                <button @click="modalName=false">Close</button>
            </div>
        </div>
        <div class="fader" v-if="modalOther" @click="modalOther=false">
            <div class="modal" @click.stop>
                <label>Other</label>
                <table>
                    <tr><td>Hero Points:</td><td><select v-model="pc.heroPts"><option>1</option><option>2</option><option>3</option></select></td></tr>
                    <tr><td>Perception:</td><td><select v-model="pc.perception"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Speed:</td><td><input v-model="pc.spd"></td></tr>
                </table>
                
                <button @click="modalOther=false">Close</button>
            </div>
        </div>
        <div class="fader" v-if="modalSaves" @click="modalSaves=false">
            <div class="modal" @click.stop>
                <label>Saving Throws</label>
                <table>
                    <tr><td>Fortitude:</td><td><select v-model="pc.fort"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Reflex:</td><td><select v-model="pc.reflex"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Will:</td><td><select v-model="pc.will"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                </table>
                
                <button @click="modalSaves=false">Close</button>
            </div>
        </div>
        <div class="fader" v-if="modalSenses" @click="modalSenses=false">
            <div class="modal" @click.stop>
                <label>Senses</label>
                <table>
                    <tr><td>Perception:</td><td><select v-model="pc.perception"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Speed:</td><td><input v-model="pc.spd"></td></tr>
                    <tr><td>Burrow Speed:</td><td><input v-model="pc.spdBurrow"></td></tr>
                    <tr><td>Climb Speed:</td><td><input v-model="pc.spdClimb"></td></tr>
                    <tr><td>Fly Speed:</td><td><input v-model="pc.spdFly"></td></tr>
                    <tr><td>Swim Speed:</td><td><input v-model="pc.spdSwim"></td></tr>
                    <tr><td>Vision:</td><td><select v-model="pc.vision"><option>Normal</option><option>Low-Light</option><option>Darkvision</option></select></td></tr>
                </table>
                
                <button @click="modalSenses=false">Close</button>
            </div>
        </div>
        <div class="fader" v-if="modalSkill" @click="modalSkill=false">
            <div class="modal" @click.stop>
                <label>Skills</label>
                <table>
                    <tr><td>Acrobatics:</td><td><select v-model="pc.acrobatics"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Arcana:</td><td><select v-model="pc.arcana"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Athletics:</td><td><select v-model="pc.athletics"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Crafting:</td><td><select v-model="pc.crafting"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Deception:</td><td><select v-model="pc.deception"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Diplomacy:</td><td><select v-model="pc.diplomacy"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Intimidation:</td><td><select v-model="pc.intimidation"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Lore 1 Name:</td><td><input v-model="pc.lore1Name"></td></tr>
                    <tr><td>Lore 1:</td><td><select v-model="pc.lore1"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Lore 2 Name:</td><td><input v-model="pc.lore2Name"></td></tr>
                    <tr><td>Lore 2:</td><td><select v-model="pc.lore2"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Medicine:</td><td><select v-model="pc.medicine"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Nature:</td><td><select v-model="pc.nature"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Occultism:</td><td><select v-model="pc.occultism"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Performance:</td><td><select v-model="pc.performance"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Religion:</td><td><select v-model="pc.religion"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Society:</td><td><select v-model="pc.society"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Stealth:</td><td><select v-model="pc.stealth"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Survival:</td><td><select v-model="pc.survival"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                    <tr><td>Thievery:</td><td><select v-model="pc.thievery"><option value="0">Untrained</option><option value="1">Trained</option><option value="2">Expert</option><option value="3">Master</option><option value="4">Legendary</option></select></td></tr>
                </table>
                
                <button @click="modalSkill=false">Close</button>
            </div>
        </div>

    </div>
    <script src="app.js"></script>
</body>
</html>