*{ box-sizing: border-box; margin: 0; padding: 0; }
html{
    background: radial-gradient(circle at 50% 85%, #84aa9b, #34495e 90%);
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100%;
}
body{
    color: #ffffff;
    margin: 0 auto;
    text-shadow: 0 0 1px black, 0 0 4px black, 0 0 5px black;
    width: 100%;
}
#app{
    margin: 0 auto;
    max-width: 800px;
}
nav{
    display: flex;
    height: 44px;
    margin: 0 0 5px;
    width: 100%;
}
    nav button{
        background: #000000aa;
        border: 1px solid black;
        border-top: none; border-right: none;
        border-radius: 0;
        color: rgb(255, 255, 255);
        cursor: pointer;
        flex: 1;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        padding-bottom: 14px;
    }
    nav button:last-of-type{border-right:1px solid black;}
    nav button.active{ background: rgba(0,0,0,0.8); }


hr{
    border: 1px solid white;
    box-shadow: 0 0 1px black, 0 0 3px black, 0 0 5px black;
    clear: both;
    margin: 10px 5px;
}

.flex{
    display: flex;
}
    .flex>*{flex: 1; margin: 0 2px;}
    .flex .flex>*{margin: 0;}
    .flex-2{flex: 2;}
    .flex-3{flex: 3;}


h1{
    font-size: 22px;
    font-variant: small-caps;
    margin: 10px 5px;
}
    h1 span:first-of-type{
        margin-left: 20px;
        opacity: 0.5;
    }
    h1 span:last-of-type{
        float: right;
    }
h2{
    background: rgba(0,0,0,0.8);
    border-radius: 4px;
    font-size: 14px;
    font-variant: small-caps;
    margin: 10px 2px 0;
    padding: 3px 5px;
    text-align: center;
}

table{
    margin: -1px 0 0 0;
    width: 100%;
}
    tr{
        display: flex;
        margin: 0;
    }
    td{
        background: rgba(0,0,0,0.5);
        flex: 1;
        font-size: 13px;
        font-weight: bold;
        margin: 1px 0;
        min-width: 50px; 
        padding: 7px 10px;
        text-align: center;
        vertical-align: middle;
    }
    td:first-of-type{
        background: rgba(0,0,0,0.66);
        border-left: none;
        border-radius: 4px 0 0 4px;
        flex: 1.5;
        text-align: right;
    }
    td:last-of-type{
        border-radius: 0 4px 4px 0;
    }

table.simple td{
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    flex: 1;
    margin-right: 2px;
    text-align: center;
}
table.simple td:last-of-type{
    margin-right: 0;
}

table.stats td{
    flex: 1;
    text-align: center;
}
table.stats td:nth-child(1){
    background: rgba(0,0,0,0.5);
}
table.stats td:nth-child(2){
    background: rgba(0,0,0,0.7);
}

.modal td{
    background: transparent;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 15px;
    padding: 3px;
    vertical-align: middle;
}
.modal td:last-of-type{
    flex: 2;
}
.modal td input,.modal td select{
    font-size: 12px;
    margin: 0;
    text-align: left;
    width: 100%;
}

.single{
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    font-size: 42px;
    margin: 2px 2px 6px;
    padding: 7px 10px;
    position: relative;
    text-align: center;
}
    .single span{
        font-size: 16px;
        opacity: 0.75;
        position: absolute; right: 10px; bottom: 7px;
    }

.smaller{
    font-size: 12px;
    line-height: 20px;
}



summary{
    border-radius: 10px;
    border: none;
    cursor:pointer;
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 0px;
    margin: 5px;
    padding: 8px 20px;
    outline:none;
    z-index: 5;
}
summary>span{
    float:right;
}
summary>a{
    color: white;
    float:right;
    font-size: 14px;
    opacity: 0.65;
    padding: 3px 0;
}
details>div{
    background-color: #00000055;
    border-radius: 0 0 6px 6px;
    margin: -6px auto 10px;
    padding: 10px 20px;
    width: 95%;
}

details.char summary{
    margin: 10px 5px;
    padding: 0;
}
details.char>div{
    background-color: transparent;
    margin: -6px auto 10px;
    padding: 0;
    width: 95%;
}
details.char td{
    background-color: transparent;
    flex: 1;
    font-size: 14px;
    padding: 2px;
    text-align: center;
}















button{
    background: #000000aa;
    border: 1px solid #000000cc; border-top: none; border-bottom: 3px solid #000000cc;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    outline: 0;
    padding: 10px 25px;
}
    button.on{
        box-shadow: inset 0 0 5px #9cffd7,inset 0 0 40px #9cffd7;
        text-shadow: 0 0 5px #9cffd7;
    }
    .on{
        text-shadow: 0 0 5px #9cffd7;
    }


.button-row{
    display: flex;
    margin: 10px 5px;
    text-align: center;
}
    .button-row div{
        background: transparent;
        border: none;
        color: white;
        font-size: 20px;
        padding: 2px 6px;
        text-align: center;
        text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black;
        flex: 5;
    }
    .button-row button{
        flex: 1;
        font-size: 20px;
        margin: 5px;
        white-space: nowrap;
    }


details details>*, details details>div{
    background: transparent;
}



/*#region Stats*/


.boost{
    color: #aaffaa;
}

.flaw{
    color: #ffaaaa;
}







input,select{
    padding: 2px 5px;
    border-radius: 4px;
    width: 100%;
}

.fader{
    background: #000000a4;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    z-index: 90;
}
.modal{
    background: rgba(5, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.25);
    position: absolute; top: 20%; left: 0; right: 0;
    margin: 0 auto; padding: 20px;
    text-align: center;
    border-radius: 4px;
    max-width: 700px;
    z-index: 100;
}
    .modal label{ display: block; font-size: 24px; margin: 0 0 5px;}
    .modal input{ display: block; margin: 0 auto 10px; width: 25%; text-align: center; font-size: 22px; }
    .modal button{ border-radius: 4px; padding: 5px; display: inline-block; width: 33%; margin: 15px; border: 1px solid #ffffff99; }


/*#region Spellbook*/
#spellbook>table{ padding: 5px; }
#spellbook>table td{ font-size: 14px !important; }

.slots{
    display: flex;
    height: 40px;
    width: 100%;
}
    .slots div{
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #22c0ff, 0 0 18px #22c0ff, 0 0 20px #22c0ff;
        flex:1;
        margin: 7px 3px;
    }
    .slots.blood div{
        box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177;
    }
    .slots.artifact div{
        box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #11ff88, 0 0 18px #11ff88, 0 0 20px #11ff88;
    }
    .slots h2{
        background-color: #00000099;
        border-radius: 4px;
        display: flex;
        font-size: 18px;
        color: white;
        margin: 2px; padding: 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 50px; max-width: 50px; min-width: 50px;
    }
    .slots.artifact h2:first-of-type{
        width: 150px; max-width: 150px; min-width: 150px;
        font-size: 14px;
    }
    .blood .off{
        background-color: #2b0012bb !important;
        box-shadow: 0 0 2px #2b001288 !important;
    }
    .off{
        background-color: #001d17bb !important;
        box-shadow: 0 0 2px #001d1788 !important;
    }

.spell > div,.feat > div{ 
        display: none; 
        border-radius: 0 0 2px 2px;
        box-shadow: 0 5px 5px inset #00000088;
        background-color: #00000093;
        padding: 15px 5px 15px 5px;
        width: 94%;
        position: relative; top: -6px; left: 3%;
        z-index: 10;
    }
    .feat > div{ padding: 15px; }
    .spell div div{ 
        font-size: 14px;
        padding: 0 20px;
    }


    .spell h1,.feat h1{
        background-color: #000000cc;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        letter-spacing: 0px;
        margin: 5px;
        padding: 8px 20px;
        outline:none;
        cursor:pointer;
        z-index: 5;
    }
    .spell h1>span{
        width: 10px;
    }
    .spell h1>span:nth-child(1){
        float:left;
        margin-right: 20px;
        opacity: 0.6;
    }
    .spell h1>span:nth-child(2){
        float:right;
        width: auto !important;
    }
    .spell s{
        margin-right: 15px;
    }
    .spell .icon{
        text-shadow: 0 0 3px black,0 0 3px black,0 0 3px black;
    }
    .spell h3{
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    .spell table{
        float: right;
        font-weight:bold;
        margin: 0 10px 10px;
        max-width:40%;
    }
    .spell th{
        column-span: all;
    }
    .spell td{
        font-size: 10px;
        padding: 2px 4px;
        vertical-align: top;
        text-align: center;
    }
    .spell td:nth-child(odd){ text-align: right; padding: 6px 6px 4px 6px; }
    .spell td:nth-child(even){ text-align: left; padding: 6px 3px 0 3px; }
    .spell tr:nth-child(odd){ background-color: rgba(0, 0, 0, 0.15); }
    .spell tr:nth-child(even){ background-color: rgba(255, 255, 255, 0.034); }
    .spell h1:focus,.feat h1:focus{ box-shadow: none; }
    .spell h1:focus + div,.feat h1:focus + div{ display:block; }
    .spell .hidden{
        opacity: 0;
    }

    .spell .item{
        position: relative; top: -5px;
    }
        .spell .item input[type=button]{ 
            background: rgba(255, 255, 255, 0.26);
            border: 1px solid rgba(255, 255, 255, 0.295); 
            margin: 4px 0 0;
            padding: 0;
        }

    .spell input{
        background: transparent;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        width: 30px;
    }

/*#endregion Spellbook*/

/*#region Feats*/
#feats ul{
    list-style-type: none;
}
#feats ul span{
    background: rgba(0,0,0,0.66);
    border-radius: 4px;
    display: block;
    margin: 20px 0 3px -10px;
    padding: 5px 10px;
    font-weight: bold;
}
#feats ul li{
    font-size: 13px;
    margin: 0 15px 0 10px;
    white-space: pre-line;
}
/*#endregion Feats*/

/*#region Items*/
/*#endregion Feats*/